body {
  background-color: green;
}

.card {
  margin: auto;
  background-color: white;
  height: 550px;
  width: 350px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#top {
  text-align: left;
  color: black;
  font-size: 5rem;
  padding: 10px;
  margin: 5px;
  height: 33%;
}

#number {
  text-align: center;
  font-size: 5rem;
  margin: 0px;
  height: 33%;
}

#bottom {
  text-align: right;
  font-size: 5rem;
  padding: 10px;
  margin: 5px;
  height: 33%;
}
